
.root {
    margin: 2em;
    background-color: #34495e;
    border-radius: 200px 20px 20px 200px;
    display: flex;
    flex-direction: row;
}

.headerInformation {
    margin-left: 5vw;
    margin-top: 7vw;
    color: #fff;
    font-size: 30px;
    max-font-size: 16px;
}
